*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pay{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pay-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pay-img img{
    width: 500px;
   
}
.pay-link{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
   

}