 .part{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 50px 40px;
    cursor: pointer;
} 
 .part1 img{
    width: 80px;
}
.part p {
    margin-bottom: 15px; 
  }
.part1 p{
    text-decoration: underline;
}
.part2 p{
    text-decoration: underline;
}
.part3 p{
    text-decoration: underline;
} 

 

